@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Open+Sans:wght@400;500;700;800&display=swap');

:root {
    --text-color: #b9c4d5;
    /* #0e0e0e */
    --primary-color: #141a32;
    --secondary-color: #1e2747;
    --tertiary-color: #007aff;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;

    /* scrollbar setting */
    scrollbar-width: thin;
    scrollbar-color: var(--tertiary-color) var(--secondary-color);

    height: 100%;
}

body {
    font-family: 'Open Sans', 'Segoe UI', 'Tahoma';
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #080f28;
}

img {
    max-width: 100%;
    /*Imagen responsiva*/
    width: 100%;
    display: block;
}

ul {
    margin: 0;
    /*Elimina estacios en blaco innecesarios*/
    padding: 0;
    /*Elimina estacios en blaco innecesarios*/
    list-style: none;
    /*Elimina los puntos que aconpañan a las listas*/
}

a {
    text-decoration: none;
}


/*Side header*/
header {
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: var(--secondary-color);

    /*** Navbar Animation ***/
    animation: navbar-animation linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 500px;
}

.site-header {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-title {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

.nav {
    display: flex;
    gap: 20px;
    align-items: center;
}


.nav a {
    color: #fff;
    font-size: 18px;
    transition: all 0.1s ease-out;
}

.nav a:hover {
    border-bottom: 2px solid var(--tertiary-color);
}



@keyframes navbar-animation {
    to {
        background: #1e2747c0;
        backdrop-filter: blur(15px);
    }
}


/***** Search Bar *****/
.nav .search-container {
    position: relative;
}

.search-container input {
    border: none;

    background-color: #080f28;
    border-radius: 30px;
    padding: 10px 15px;
    color: var(--text-color);
    font-size: 16px;

    &::placeholder {
        color: var(--text-color);
    }

    &:focus {
        outline: solid 1px var(--tertiary-color);
    }
}

.search-container button {
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0 15px 0 0;
    color: var(--tertiary-color);
    cursor: pointer;
}



.wrapper {
    width: 90%;
    margin: 0 auto;
    /*Contenedor centrado*/
}

/****** Introduction ******/

/*Image de fondo*/
.bg-intro {
    height: 600px;
    background: radial-gradient(circle, #1e274744 0%, #080f28 100%);
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    & h2 {
        font-size: 35px;
        font-weight: 800;
        margin-bottom: 20px;
    }

    & p {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
    }
}


/****** Main Content ******/

.subtitle-text {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 800;
    margin: 0;
}

/* Carousel */
.carousel-container {
    margin: 30px 0;
}

.carousel-container .swiper-slide {
    padding-top: 15px;
    height: 250px;

}

.carousel-container .swiper-slide img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}


/* Card */

.main-container {
    margin-bottom: 15px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.novel {
    width: calc(25% - 30px);
    /* Adjust the width to fit 4 cards per row */
    height: 300px;
    margin: 15px;
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
}

@keyframes reveal {
    from {
        opacity: 0;
        translate: 0 50px;
        scale: 0.8;
    }

    to {
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
}



.novel img {
    height: 85%;
    object-fit: cover;
    object-position: center;
}

.novel-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15%;
    padding: 10px;
}

.novel-info p {
    margin: 0;
    color: var(--text-color);
    font-weight: bold;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
}

.overview {
    background-color: #fff;
    padding: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    font-size: 14px;

    transform: translateY(101%);
    overflow-y: auto;
    transition: transform 0.3s ease-in;
    color: #000;

    scrollbar-width: thin;
    /* scrollbar setting */
}

.novel:hover .overview {
    transform: translateY(0);
}



/****** Filter ******/
.main-container .directory-subtitle {
    margin-top: 40px;
}

.main-container form {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}


/* Custom Select */
.custom-select {
    position: relative;
    display: inline-block;
}

.custom-select-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: 110px;
    padding: 5px 0;
    font-size: 14px;
    color: #fff;
    background-color: var(--tertiary-color);
    border-radius: 4px;
    cursor: pointer;
}

.custom-select-trigger:after {
    display: block;
    content: '';
    width: 6px;
    height: 6px;

    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg) translateY(-50%);
    transition: all .3s ease-in-out;
    transform-origin: 50% 0;
}

.custom-select.opened .custom-select-trigger:after {
    transform: rotate(-135deg) translateY(-50%);
}

.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    min-width: 100%;
    margin: 5px 0;
    border-radius: 4px;
    background: #fff;
    transition: all .3s ease-in-out;
    z-index: 2;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-5px);
}

.custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
}

.custom-option {
    position: relative;
    display: block;
    border-bottom: 1px solid #b5b5b5;
    font-size: 14px;
    text-align: center;
    padding: 5px 0;
    color: #000;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.custom-option:first-of-type {
    border-radius: 4px 4px 0 0;
}

.custom-option:last-of-type {
    border-bottom: 0;
    border-radius: 0 0 4px 4px;
}

.custom-option:hover {
    background: var(--text-color);
}

.custom-option.selection {
    font-weight: bold;
}

button.btnSubmit {
    background-color: #007bff;
    color: #fff;
    padding: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 90px;
}

/* No results */
.no-result-containder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & p {
        text-align: center;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
    }

    & img {
        width: 450px;
    }
}

/***** Android ******/
.novel .info-android p {
    transition: all 0.2s ease-out;
}

.novel:hover .info-android p {
    color: #fff;
    transform: scale(1.1);
}

.android-subtitle-text {
    margin-top: 15px;
}

.bg-intro-android {
    height: 450px;

    & div {
        width: 50%;
    }
}

.android-novel img {
    height: 75%;
}

.android-novel .android-novel-info {
    height: 25%;
    padding: 7px;
    justify-content: space-between;

    & a {
        color: #fff;
        padding: 2px 10px;
        border-radius: 10px;
        background-color: var(--tertiary-color);
        transition: transform 0.2s ease-out;
    }

    & a:hover {
        transform: scale(1.1);
    }
}

/* Instructions */

.instructions-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.instructions-container li {
    display: flex;
    justify-content: center;
    align-items: center;

    width: calc(33.3% - 30px);
    height: 200px;
    margin: 15px;
    background: var(--secondary-color);
    position: relative;

}

.instructions-container li h2 {
    font-size: 100px;
    width: 40%;
    text-align: center;
    margin: 0;
    opacity: 0.2;
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
    transform: translateY(30%);
}

.instructions-container li p {
    font-size: 16px;
    padding: 0 10px;
    color: #fff;
    width: 60%;
    text-align: center;
    line-height: 30px;

    & a {
        color: #fff;
        padding: 2px 10px;
        border-radius: 10px;
        background-color: var(--tertiary-color);
    }
}

.instructions-container li:hover h2 {
    opacity: 0.8;
    color: #fff;
    transform: translateY(0%);
}

.instructions-container li:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background: #fff;
    transform: skew(2deg, 2deg);
}

.instructions-container li:after {
    content: '';
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.02);
}

.instructions-container li:nth-child(1):before {
    background: #C9FFBF;
    background: linear-gradient(to right, #ff4c6a, #85ff70);
}

.instructions-container li:nth-child(2):before {
    background: #FC354C;
    background: linear-gradient(to right, #0ABFBC, #FC354C);
}

.instructions-container li:nth-child(3):before {
    background: #c21500;
    background: linear-gradient(to right, #ff0022, #9200c2);
}

/****** Post Detail ******/
.detail-container {
    color: var(--text-color);

    & h1 {
        text-align: center;
    }
    & img {
        width: 400px;
        margin: 0 auto;
    }
}

.screenshots-container .screenshots{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.screenshots-container .screenshots img{
    width: calc(40% - 20px);
    margin: 10px;
}

/***** Responsive *****/

@media (width <=540px) {
    .novel {
        width: calc(100% - 30px);
        /* Adjust the width to fit 1 card per row on smaller screens */
    }

    header .site-header {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .bg-intro div {
        padding: 0 30px;
    }

    .bg-intro-android div {
        width: 100%;
    }

    .instructions-container li {
        width: calc(75% - 20px);
        margin: 10px;
    }
    .screenshots-container .screenshots img{
        width: calc(100% - 20px);
    }
}

@media (540px <=width <=800px) {
    .novel {
        width: calc(50% - 30px);
        /* Adjust the width to fit 2 cards per row on smaller screens */
    }

    header .site-header {
        padding: 10px 0;
    }

    .site-header .logo-title {
        line-height: 1.0;
    }

    .bg-intro div {
        padding: 0 50px;
    }

    .bg-intro-android div {
        width: 100%;
    }

    .instructions-container li {
        width: calc(50% - 20px);
        margin: 10px;
    }
    .screenshots-container .screenshots img{
        width: calc(90% - 20px);
    }

}

@media (800px <=width <=1000px) {
    .novel {
        width: calc(33.33% - 30px);
        /* Adjust the width to fit 3 cards per row on smaller screens */
    }

    .bg-intro div {
        padding: 0 80px;
    }

    .bg-intro-android div {
        width: 100%;
    }

    .instructions-container li {
        width: calc(33.3% - 20px);
        margin: 10px;

    }
    .screenshots-container .screenshots img{
        width: calc(50% - 20px);
    }
}


/****** Pagination ******/
.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 30px 0;
}

.step-links {
    display: flex;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: var(--secondary-color);

    & a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--text-color);
        width: 35px;
        height: 35px;
        border-radius: 100%;
        transition: all 0.4s ease-out;

        & i {
            color: var(--text-color);
        }
    }

    & a:hover {
        background-color: var(--tertiary-color);
    }

}

a.current,
a:hover.current {
    background-color: var(--tertiary-color);
    color: #fff;
}




/****** Footer ******/
footer {
    margin-top: auto;
}

.copyright {
    background-color: var(--secondary-color);
    padding: 10px 0;

}

.copyright p {
    font-size: 14px;
    text-align: center;
    color: var(--text-color);
    margin: 0;
}


.copyright .icons a {
    color: var(--text-color);
    margin: 0 10px;
    transition: all 0.4s ease-out;

    &:hover {
        color: var(--tertiary-color);
    }
}