{% extends "./base.html" %}
{% load static %}

{% block section %}
    <div
        style="background-image:url('../static/img/background_kirikiroid2.webp'); background-size: cover; background-position: center; background-attachment: fixed; background-repeat: no-repeat;">
        <div class="bg-intro bg-intro-android">
            <div>
                <h2>Seccion Android Kirikiroid2</h2>
                <p>En está sección encontrarás las novelas visuales en español emuladas con Kirikiroid2 en android.</p>
            </div>
        </div>
    </div>

{% endblock %}


{% block content %}

<div class="main-container">
    <h3 class="subtitle-text android-subtitle-text" style="text-align: center;">Instrucciones</h3>
    <ul class="instructions-container">
        <li>
            <h2>1</h2>
            <p>
                Descargar Kirikiroid2
                <a href="{{ emulador }}" target="_blank">Descargar</a>
            </p>
        </li>
        <li>
            <h2>2</h2>
            <p>
               Descargar el juego y extraer. Contraseña: animegame
            </p>
        </li>
        <li>
            <h2>3</h2>
            <p>
                Entrar al Kirikiroid2, buscar la carpeta del juego y seleccionar el Data.xp3.
            </p>
        </li>
    </ul>
    <div class="container-subtitle-reload">
        <h3 class="subtitle-text android-subtitle-text">Lista completa: </h3>
        <form action="{% url 'VNDisplay:update_novels' %}">
            <input type="hidden" value="kirikiroid2" name="novel-type">
            <button type="submit" class="btnUpdate">Actualizar Novelas</button>
        </form>
    </div>
    <div class="cards-container">
        {% for p in android_posts %}
        <div class="novel android-novel">
                <img src="{{ p.image_url }}" alt="img">
                <div class="novel-info android-novel-info">
                    <p>{{ p.title }}</p>
                    <a href="{{ p.full_url }}" target="_blank">Descargar</a>
                </div>
                
        </div>

        {% endfor %}


    </div>
</div>


{% endblock %}