{% extends "./base.html" %}
{% load static %}

{% block section %}
    <div
        style="background-image:url('../static/img/background_apk.jpg'); background-size: cover; background-position: center; background-attachment: fixed; background-repeat: no-repeat;">
        <div class="bg-intro bg-intro-android">
            <div>
                <h2>Seccion Android APK</h2>
                <p>En está sección encontrarás los apk de novelas visuales en español.</p>
            </div>
        </div>
    </div>

{% endblock %}


{% block content %}

<div class="main-container">
    <h3 class="subtitle-text android-subtitle-text" style="text-align: center;">Instrucciones</h3>    
    <ul class="instructions-container">
        <li>
            <h2>1</h2>
            <p>
                Descargar el apk del juego.
            </p>
        </li>
        <li>
            <h2>2</h2>
            <p>
               Instalar y ejecutar.
            </p>
        </li>
    </ul>

    {% if not android_post %}
        <div class="container-nodata-subtitle-reload">
            <h3 class="subtitle-text">No hay novelas visuales disponibles, intenta actualizar.</h3>
            <form action="{% url 'VNDisplay:update_novels' %}">
                <input type="hidden" value="apk" name="novel-type">
                <button type="submit" class="btnUpdate">Actualizar Novelas</button>
            </form>
        </div>

    {% else %}
        <div class="container-subtitle-reload">
            <h3 class="subtitle-text android-subtitle-text">Lista completa: </h3>
            <form action="{% url 'VNDisplay:update_novels' %}">
                <input type="hidden" value="apk" name="novel-type">
                <button type="submit" class="btnUpdate">Actualizar Novelas</button>
            </form>
        </div>
        <div class="cards-container">
            {% for p in android_posts %}
            <div class="novel android-novel">
                    <img src="{{ p.image_url }}" alt="img">
                    <div class="novel-info android-novel-info">
                        <p>{{ p.title }}</p>
                        <a href="{{ p.full_url }}" target="_blank">Descargar</a>
                    </div>
                    
            </div>

            {% endfor %}

        </div>
    {% endif %}
</div>


{% endblock %}