{% extends "./base.html" %}
{% load static %}

{% block section %}

{% endblock %}


{% block content %}

<div class="main-container">
    <h3 class="subtitle-text">Ultimas novelas agregadas: </h3>
    <div class="cards-container">
        {% for p in last_posts %}
        <div class="novel">
            <a href="{{ p.get_absolute_url }}">
                <img src="{{ p.image_url }}" alt="img">
                <div class="novel-info">
                    <p>{{ p.title }}</p>
                </div>
                <div class="overview">
                    <span>{{ p.description }}</span>
                </div>
            </a>
        </div>

        {% endfor %}


    </div>

</div>


{% endblock %}