{% extends "./base.html" %}
{% load static %}

{% block section %}

<div class="filter-container">
    <!-- <form method="get">
        {{ form.as_p }}
        <button type="submit">Filtrar</button>
    </form> -->





    <div class="center">
        <select name="sources" id="sources" class="custom-select sources" placeholder="Año" style="display: none;">
            <option value="profile">Profile</option>
            <option value="word">Word</option>
            <option value="hashtag">Hashtag</option>
        </select>
    </div>

    <div class="center">
        <select name="sources" id="sources" class="custom-select sources" placeholder="Categoria" style="display: none;">
            <option value="profile">Profile</option>
            <option value="word">Word</option>
            <option value="hashtag">Hashtag</option>
        </select>
    </div>
    <div class="center">
        <select name="sources" id="sources" class="custom-select sources" placeholder="Año" style="display: none;">
            <option value="profile">Profile</option>
            <option value="word">Word</option>
            <option value="hashtag">Hashtag</option>
        </select>
    </div>
    <div class="center">
        <select name="sources" id="sources" class="custom-select sources" placeholder="Año" style="display: none;">
            <option value="profile">Profile</option>
            <option value="word">Word</option>
            <option value="hashtag">Hashtag</option>
        </select>
    </div>





</div>


{% endblock %}


{% block content %}
<div class="main-container">
    <h3 class="subtitle-text">Lista completa de novelas visuales para pc: </h3>


    <div class="cards-container">
        {% for p in posts %}
        <div class="novel">
            <a href="{{ p.get_absolute_url }}">
                <img src="{{ p.image_url }}" alt="img">
                <div class="novel-info">
                    <p>{{ p.title }}</p>
                </div>
                <div class="overview">
                    <span>{{ p.description }}</span>
                </div>
            </a>
        </div>

        {% endfor %}


    </div>
</div>


{% include "pagination.html" with page=posts %}

{% endblock %}