{% extends "./base.html" %}
{% load static %}

{% block section %}




{% endblock %}


{% block content %}
<div class="main-container">
    <h3 class="subtitle-text directory-subtitle">Lista completa de novelas visuales para pc: </h3>

    <form method="get" class="filter-container">
        {{ form }}
        <button type="submit" class="btnSubmit"><i class="fa-solid fa-filter"></i> Filtrar</button>
    </form>

    <div class="cards-container">
        {% for p in posts %}
        <div class="novel">
            <a href="{{ p.get_absolute_url }}">
                <img src="{{ p.image_url }}" alt="img">
                <div class="novel-info">
                    <p>{{ p.title }}</p>
                </div>
                <div class="overview">
                    <span>{{ p.description }}</span>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% if not posts %}
        <div class="no-result-containder">
            <p>No se encontraron resultados :(</p>
            <img src="{% static 'img/sadness.png' %}" alt="">
            <p>No estes triste!!</p>
        </div>
    {% endif %}


</div>


{% if posts.paginator.count > 32 %}
    {% include "pagination.html" with page=posts param=filtered%}
{% endif %}

{% endblock %}