{% extends "./base.html" %}
{% load static %}

{% block section %}
<div
    style="background-image:url('static/img/Visual-Novels.jpg'); background-size: cover; background-position: center; background-attachment: fixed; background-repeat: no-repeat;">
    <div class="bg-intro">
        <div>
            <h2>Novelas Visuales para pc y Android</h2>
            <p>Aqui encontrarás una recopilacion de las mejores novelas visuales, ¡gratis y en español!</p>
        </div>
    </div>

</div>
{% endblock %}


{% block content %}

<div class="carousel-container">
    <h3 class="subtitle-text">Podria interesarte: </h3>
    <swiper-container class="mySwiper" space-between="30" slides-per-view="5" loop="true" navigation="true">
        <!-- autoplay-delay="2500" autoplay-disable-on-interaction="false" -->
        {% for post in posts %}
        <swiper-slide>
            <a href="{{ post.get_absolute_url }}">
                <img src="{{ post.image_url }}" alt="">
            </a>
        </swiper-slide>
        {% endfor %}
    </swiper-container>

</div>


<div class="main-container">
    <h3 class="subtitle-text">Ultimas novelas agregadas: </h3>
    <div class="cards-container">
        {% for p in posts %}
        <div class="novel">
            <a href="{{ p.get_absolute_url }}">
                <img src="{{ p.image_url }}" alt="img">
                <div class="novel-info">
                    <p>{{ p.title }}</p>
                </div>
                <div class="overview">
                    <span>{{ p.description }}</span>
                </div>
            </a>
        </div>

        {% endfor %}


    </div>

</div>


{% endblock %}