{% extends "./base.html" %}
{% load static %}


{% block content %}


<div class="introduction-container"
    style="background-image:url('static/img/Visual-Novels.jpg'); background-size: cover; background-position: center 50%;">

    <div class="bg-intro">
        <div class="text-bg-intro">
            <p>Novelas Visuales para pc y Android</p>
            <p>Aqui encontrarás una recopilacion de las mejores novelas visuales, ¡gratis y en español!</p>
        </div>
    </div>

</div>



<div class="cards-container">

    {% for p in posts %}
    <div class="novel">
        <a href="{{ p.get_absolute_url }}">
            <img src="{{ p.image_url }}" alt="img">
            <div class="novel-info">
                <p>{{ p.title }}</p>
            </div>
            <div class="overview">
                <span>{{ p.description }}</span>
            </div>
        </a>
    </div>

    {% endfor %}


</div>

{% include "pagination.html" with page=posts %}

{% endblock %}