<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
        <a href="?page=1">&lt;&lt;</a> <!-- Link a la primera página -->
        <a href="?page={{ page.previous_page_number }}">&lt;</a> <!-- Link a la página anterior -->
        {% endif %}

        <!-- Muestra los números de las páginas -->
        {% for i in page.paginator.page_range %}
            {% if page.number == i %}
                <span class="current">{{ i }}</span> <!-- Número de la página actual -->
            {% elif i > page.number|add:"-3" and i < page.number|add:"3" %}
                <a href="?page={{ i }}">{{ i }}</a> <!-- Números de las páginas cercanas a la actual -->
            {% endif %}
        {% endfor %}

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">&gt;</a> <!-- Link a la página siguiente -->
            <a href="?page={{ page.paginator.num_pages }}">&gt;&gt;</a> <!-- Link a la última página -->
        {% endif %}
    </span>
</div