<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page=1{{param}}"><i class="fa-solid fa-angles-left"></i></a> 
            <a href="?page={{ page.previous_page_number }}{{param}}"><i class="fa-solid fa-chevron-left"></i></a> 
        {% endif %}

        {% for i in page.paginator.page_range %}
            {% if page.number == i %}
                <a href="?page={{ i }}{{param}}" class="current">{{ i }}</a>  
            {% elif i > page.number|add:"-3" and i < page.number|add:"3" %}  
                <a href="?page={{ i }}{{param}}">{{ i }}</a>  
            {% endif %}
        {% endfor %}

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}{{param}}"><i class="fa-solid fa-chevron-right"></i></a> 
            <a href="?page={{ page.paginator.num_pages }}{{param}}"><i class="fa-solid fa-angles-right"></i></a> 
        {% endif %}
    </span>
</div>