{% extends "./base.html" %}
{% load static %}

{% block section %}

{% endblock %}


{% block content %}

<div class="main-container">
    
    
    {% if not posts and not apk_posts and not kirikiroid2_posts%}
        <div class="no-result-containder">
            <p>No se encontraron resultados para: {{ query }}</p>
            <img src="{% static 'img/sadness.png' %}" alt="" draggable=false>
            <p>No estes triste!!</p>
        </div>

    {% else %}
        <h3 class="subtitle-text directory-subtitle" style="text-align: center;color:#fff;">Resultados para "{{ query }}" </h3>
        {% if posts %}
            <h3 class="subtitle-text directory-subtitle">Novelas Visuales para PC </h3>
            <div class="cards-container">
                {% for p in posts %}
                <div class="novel">
                    <a href="{{ p.get_absolute_url }}">
                        <img src="{{ p.cover_url }}" alt="img">
                        <div class="novel-info">
                            <p>{{ p.title }}</p>
                        </div>
                        <div class="overview">
                            <span>{{ p.synopsis }}</span>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if apk_posts %}
            <h3 class="subtitle-text directory-subtitle">Novelas Visuales Android APK </h3>
            <div class="cards-container">
                {% for p in apk_posts %}
                    <div class="novel android-novel">
                        <img src="{{ p.cover_url }}" alt="img">
                        <div class="novel-info android-novel-info">
                            <p>{{ p.title }}</p>
                            <a href="{{ p.full_url }}" target="_blank">Descargar</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if kirikiroid2_posts %}
            <h3 class="subtitle-text directory-subtitle">Novelas Visuales Android Kirikiroid2 </h3>
            <div class="cards-container">
                {% for p in kirikiroid2_posts %}
                    <div class="novel android-novel">
                        <img src="{{ p.cover_url }}" alt="img">
                        <div class="novel-info android-novel-info">
                            <p>{{ p.title }}</p>
                            <a href="{{ p.full_url }}" target="_blank">Descargar</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    {% endif %}

    
    
</div>


{% endblock %}